/* 4 - Incluir los estilos */
#bloque{
    height: 400px;
    width: 350px;
    border: 4px solid black;
    border-radius: 10px;
}

#bloque form{
    height: 100%;
    width: 100%;
    background-color: gray;
}

/* 8 - Incluimos estilos para los botones */
#bloque input[text=textfield]{
    width: 320px;
    height: 15%;
    color: rgb(29, 29, 23);
    cursor: default;
    padding: 15px;
    text-align: right;
    border: 0;
    outline: none;
    font-size: 50px;
}

#bloque input[type=button],input[type=reset]{   
    width: 22%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 26px;
    border-radius: 50%;
    border: 0;
    padding: 10px;
    margin: 3px;

}

.gris{
    background-color: silver;
}

.naranja{
    background-color: orange;
}