header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: orange;
    color: blueviolet;
    margin: 0px 0px 0px 0px;
    padding: 0px 


}

#menú{
    background-color: rgb(14, 12, 12);
    font-size: 25px;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu ul{
    list-style-type: none;
    text-align: center;
}

#menú ul li{
    display: inline;
    text-align: center;
    margin: 0 5px 0 0;
}

#menú ul li a{
    padding: 2px 7px 2px 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: none; 
    color: gold;
    background-color: rgba(157, 90, 189, 0.767);
    border: 1px solid gray;
    font-size: 20px;
    
}

body{
    background-color: antiquewhite;
}

div{
    color: blue;

}


p{
    color: rgb(77, 54, 54);
    
}

img{

    border-radius: 10px;
    width: 25%;
    /* tamaño - tipo - color */
    border: 2px solid rgb(128, 37, 37);
    padding: 2px;     /*espacio interno*/
    display: block;

}

img:hover{
    transform:scaleX(-1);
    /* -webkit-box-reflect: below; */
}

#p1{
    color: slategrey
}



























*{
    margin: 0px 0px 0px 0px; 
    padding: 0px;
}
.footer{
    margin: 30px 0px 0px 0px; 
    padding: 50px 50px 10px 10px;

    text-align: justify;
    border-bottom: 1px solid black;
    display: block;
    color:rgba(107, 209, 212, 0.5);
    text-decoration: none;
    padding: 8px 0px 8px 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 10rem;
    background-color: brown
    
}


footer svg{
width: 3%;
color:rgb(171, 204, 24);

}