header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: orange;
    color: blueviolet;
    margin: 0px 0px 0px 0px;
    padding: 0px 


}

#menú{

    font-size: 25px;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu ul{
    background-color: black;
    list-style-type: none;
    text-align: center;
}

#menú ul li{
    display: inline;
    text-align: center;
    margin: 0 5px 0 0;
}

#menú ul li a{
    padding: 2px 7px 2px 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: none; 
    color: gold;
    background-color: rgba(157, 90, 189, 0.767);
    border: 1px solid gray;
    font-size: 20px;
    
}

body{
    background-color: antiquewhite;
    overflow-y: hidden;
    overflow-x: hidden;
}

.clockdate-wrapper {
    background-color: #333;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:5%;
    margin-bottom: 0;
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}






*{
    margin: 0px 0px 0px 0px; 
    padding: 0px;
}
.footer{
    margin: 230px 0px 0px 0px; 
    padding: 50px 50px 10px 10px;

    text-align: justify;
    border-bottom: 1px solid black;
    display: block;
    color:cadetblue;
    text-decoration: none;
    padding: 8px 0px 8px 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 10rem;
    background-color: brown
    
}


footer svg{
width: 3%;
color:rgb(171, 204, 24);

}